{% extends 'base.html' %}

{% block content %}

    
    <h1 class="my-5 text-center">Oferta disponible</h1>
    <div class="container">
        <form action="" method="POST" class="row">
            {% csrf_token %}
            <div class="col-6">
                <select class="form-select" aria-label="Default select example" name="region" id="select" onchange="getComuna()">
                    <option selected>Selecciona una región</option>
                    {% for region in regiones %}
                    <option value="{{ region.id }}">{{ region.nombre_comuna }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
        

    </div>


    <div class="container my-5">
        <div class="row">
            {% for inmueble in inmuebles %}
            <div class="col-12">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">{{ inmueble.nombre }}</h5>
                        <p class="card-text">{{ inmueble.descripcion }}</p>
                        <ul>
                            <li>Construidos: {{ inmueble.m2_construidos }} m²</li>
                            <li>Total: {{ inmueble.m2_totales }} m²</li>
                            <li>Estacionamientos: {{ inmueble.cantidad_estacionamientos }}</li>
                            <li>Habitaciones: {{ inmueble.cantidad_habitaciones }}</li>
                            <li>Baños: {{ inmueble.cantidad_banos }}</li>
                            <li>Dirección: {{ inmueble.direccion }}</li>
                            <li>Comuna: {{ inmueble.comuna }}</li>
                            <li>Tipo: {{ inmueble.get_tipo_inmueble_display }}</li>
                            <li>Precio: ${{ inmueble.precio_arriendo }}</li>
                            <li>Disponible: {{ inmueble.disponible|yesno:"Sí,No" }}</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    
{% endblock %}