{% extends 'base.html' %}

{% block content %}

    
    <h1 class="my-5 text-center">Perfil</h1>
    <div class="container">
      <div class="row">
        <div class="mx-auto col-5">
          <form action="" method="post" class="text-center border border-primary-subtle p-4 rounded">
            {% csrf_token %}
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Nombre Usuario</label>
                  <input type="text" value="{{ usuario.nombre  }}" class="form-control" id="exampleFormControlInput1" name="nombre" required>
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Rut Usuario</label>
                  <input type="text" value="{{ usuario.rut  }}" class="form-control" id="exampleFormControlInput1" name="rut" required>
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                  <input type="text" value="{{ usuario.apellidos  }}" class="form-control" id="exampleFormControlInput1" name="apellidos" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">direccion</label>
                <input type="text" value="{{ usuario.direccion  }}" class="form-control" id="exampleFormControlInput1" name="direccion" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">telefono_personal</label>
                <input type="text" value="{{ usuario.telefono_personal  }}" class="form-control" id="exampleFormControlInput1" name="telefono_personal" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">correo_electronico</label>
                <input type="email" value="{{ usuario.correo_electronico  }}" class="form-control" id="exampleFormControlInput1" name="correo_electronico" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">correo_electronico</label>
                <select class="form-select" aria-label="Default select example" name="tipo_usuario">
                    <option selected>Tipo Usuario</option>
                    <option value="arrendatario">arrendatario</option>
                    <option value="arrendador">arrendador</option>
                  </select>
            </div>
      
              <div>
                  <button type="submit" class="btn btn-primary col-12">Guardar</button>
              </div>
          </form>
        </div>
      </div>
    </div>


{% endblock %}